<div id="<%= dom_id work %>">
  <p>
    <strong>User:</strong>
    <%= work.user_id %>
  </p>

  <p>
    <strong>Work name:</strong>
    <%= work.work_name %>
  </p>

  <p>
    <strong>Work location:</strong>
    <%= work.work_location %>
  </p>

</div>
