<div id="<%= dom_id job %>">
  <p>
    <strong>Job:</strong>
    <%= job.job_id %>
  </p>

  <p>
    <strong>Job name:</strong>
    <%= job.job_name %>
  </p>

  <p>
    <strong>Job location:</strong>
    <%= job.job_location %>
  </p>

</div>
